main {
  display: flex; /* Establece el contenedor como un flex container */
  flex-direction: column; /* Alinea los elementos en columna */
  align-items: center; /* Alinea los elementos en el eje vertical en la parte superior */
  height: 100vh; /* Establece la altura del contenedor al 100% de la ventana */
  justify-content: start;
}

#side-projects-section {
  display: flex;
  flex-direction: column;
  justify-self: start;
  margin-top: 1rem;
  gap: 6rem;
  height: 100%;
}

#sideprojects-title {
  text-align: center;
}

#links-sideprojects {
  height: 20rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

#links-sideprojects a {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  min-width: 10rem;
  width: 14rem;
  height: 5rem;
  color: black;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.329);
  transition: width 0.25s, font-size 0.25s;
}

#links-sideprojects a:hover {
  font-size: 105%;
  width: 18rem;
}
