main article .main_project_img {
  min-width: 100px;
  max-width: 350px;
  height: 350px;
  object-fit: cover;
  border-radius: 0.5rem;
  /* border: 1px solid rgba(0, 0, 0, 0.39); */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.466);
}

.github_icon,
.deploy_icon {
  width: 1.5rem;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main_project {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 75%;
}

.main_project * {
  margin: 0.2rem 1.2rem;
}

.main_project h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 0.75rem;
}

.main_project .description {
  text-align: center;
  font-size: 1.2rem;
}

h3 {
  text-align: center;
}

#software_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

.software_name {
  text-align: center;
}