.projects-area {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}

.projects-area .container-photo-text,
.projects-area .container-exe-text {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  max-height: 25rem;
  min-height: 25rem;
  max-width: 25rem;
  min-width: 25rem;

  justify-content: flex-end;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.329);
  position: relative;
  overflow: hidden;
}

.projects-area .container-photo-text:hover {
  cursor: pointer;
}

.projects-area .container-photo-text:hover .image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

#text {
  flex: 10;
  margin-top: auto;
  text-align: center;
  padding: 10px;
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.image {
  flex: 90;
  padding: 2rem 0;
  align-self: center;

  height: auto;

  max-width: 85%;
  max-height: 80%;
  object-fit: cover;
  align-self: center;
}

.video {
  flex: 90;
  padding: 2rem 0;
  align-self: center;

  height: auto;

  max-width: 85%;
  max-height: 80%;
  object-fit: cover;
  align-self: center;
}

.container-exe-text:hover {
  cursor: pointer;
}

.container-exe-text a {
  flex: 90;
}

.container-exe-text #text {
  flex: 10;
}

.container-exe-text a {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container-exe-text .image_link {
  margin-top: 2rem;
  max-width: auto;
  width: 100%;
  height: auto;
  /* height: 80%; */
  object-fit: cover;
}
.container-exe-text a {
  align-items: center;
  justify-content: center;
  justify-self: center;
  max-width: 100%;
}

.projects-area .container-exe-text:hover .image_link {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}