* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 4rem;
  max-height: 10rem;
  justify-content: space-between;
  position: sticky;
  font-size: 1.2rem;
  top: 0;
  /* background-color: rgb(231, 220, 245); */
  background-color: lightblue;
}

header #icon-section img {
  margin: 2rem 0 0 0;
  height: 4rem;
}

#icon-section * {
  font-size: 0;
}

nav {
  width: 100%;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

menu ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

menu ul li {
  cursor: pointer;
  font-size: 1.2rem;
  text-transform: uppercase;
}

menu ul li a {
  text-decoration: none;
  color: black;
}

menu ul li::after {
  content: "";
  position: absolute;
  width: 50%;
  transform: scale(0);
  height: 2px;
  bottom: -8px;
  left: 25%;
  background-color: #ff4646;
  transform-origin: bottom center;
  transition: transform 0.3s ease-in-out;
}

menu ul li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.animation {
  display: inline-block;
  position: relative;
  color: white;
  width: 25%;
  text-align: center;
}
