* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 5rem;
  position: sticky;
  font-size: 1.5rem;
  top: 0;
  background-color: rgb(231, 220, 245);
  /* background-color: lightblue; */
}

nav {
  width: 75%;
  height: 4rem;
}

menu {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  position: relative;
}

menu ul {
  position: absolute; /* Posicionamiento absoluto */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

a {
  display: flex;
  height: 100%;
  flex-grow: 1;
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
}

menu ul li {
  width: 15rem;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  height: 100%;
}

menu ul li::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scale(0);
  height: 2px;
  bottom: 10px;
  left: 0%;
  background-color: #ff9950;
  transform-origin: bottom center;
  transition: transform 0.3s ease-in-out;
}

menu ul li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom center;
}

.animation {
  display: inline-block;
  position: relative;
  color: white;
  width: 25%;
  text-align: center;
}

@media (max-width: 700px) {
  header {
    height: 14rem;
    display: flex;
    flex-direction: column;
  }
  
  header section {
    position: absolute;
    top: 1rem;
  }
  
  header nav {
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    align-self: flex-end;
    min-width: 600px;
  }

  header nav menu ul li {
    font-size: 1rem;
  }

  menu ul li::after {
    width: 60%;
    transform: scale(0);
    height: 1px;
    bottom: 40px;
    left: 30px;
  }
}
