.container {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  width: 75%;
  max-height: 720px;
  height: 720px;
  justify-content: center;
  align-items: center;
}

main img {
  border-radius: 50%;
  height: 300px;
  width: 300px;
  object-fit: cover;
}

#photo_frame {
  background: rgb(0, 61, 110);
  background: linear-gradient(
    90deg,
    rgba(0, 33, 60, 1) 0%,
    rgba(0, 61, 110, 1) 50%,
    rgba(0, 33, 60, 1) 100%
  );

  height: 310px;
  width: 310px;
  border-radius: 50%;
  z-index: -999;
}

.photo_container {
  flex: 0 0 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.photo_container img {
  display: block;
}

.photo_container span {
  position: absolute;
}

.container article {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#name {
  text-align: center;
}

#name h2 {
  font-size: 3rem;
}
#name h3 {
  font-size: 1.5rem;
}

#resumen {
  width: 50%;
}

#resumen * {
  margin: 1rem 0;
}

#resumen {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.container article {
  gap: 3rem;
}


