textarea {
  resize: vertical;
  font-size: 2px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.first_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fieldset_general {
  max-width: 50rem;
  border-radius: 0.5rem;
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.fieldset_contact {
  max-width: 100%;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 0;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: space-between;
  gap: 0;
}

.field_name,
.field_email {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  text-align: center;
  width: 100%;
  font-size: 1.35rem;
}

.field_name input,
.field_email input {
  margin-bottom: 0.75rem;
  height: 2rem;
  text-align: center;
  max-width: 100%;
  font-size: 1.05rem;
  padding: 0.5rem;
}

.field_name input {
  text-transform: capitalize;
}

input:focus,
textarea:focus {
  outline: none;
  border: 5px solid rgb(231, 220, 245);
}

.field_message * {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  text-align: center;
  max-width: 35rem;
  font-size: 1.35rem;
  outline: none;
}

form button {
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 50%;
  margin-bottom: 2rem;
  outline: none;
  border: 1px solid black;
}

form button:hover {
  background-color: rgba(0, 0, 0, 0.12);
}

.redes-container {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: center;
  gap: 2rem;
}

.redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}

.redes > li {
  list-style: none;
}


#header-contact {
  max-width: 80%;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 100;
  padding-bottom: 2rem;
}

.icon:hover img{
  animation: scaleAnimation 0.15s forwards;
}

@keyframes scaleAnimation {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1.25);
  }
}
